* {
  box-sizing: border-box;
}

.box {
  width: 500px;
  height: 500px;
  background-color: brown;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  width: 150px;
  position: absolute;
  border: 1px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputHex, .rgb {
  padding: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.inputHex {
  width: 100%;
}